.constructor {
    max-width: 600px;
    grid-area: constructor;
    box-sizing: border-box;
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.list_toppings {
    composes: list;
    max-height: calc(100vh - 284px - 252px);
    overflow-y: scroll;
    scrollbar-width: thin;
}

.list_toppings::-webkit-scrollbar {
    width: 8px;
}

.list_toppings::-webkit-scrollbar-track {
    background: #2f2f37;
}

.list_toppings::-webkit-scrollbar-thumb {
    background: #8585ad;
}

.item__topping {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.order {
    display: grid;
    grid-template-columns: 1fr 215px;
    align-items: center;
}

.total__price {
    justify-self: end;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
}