.ingredients {
    max-width: 600px;
    grid-area: ingredients;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list_types {
    composes: list;
    max-height: calc(100vh - 284px - 40px);
    overflow-y: scroll;
    scrollbar-width: thin;
}
.list_types::-webkit-scrollbar {
    width: 8px;
}
  
  .list_types::-webkit-scrollbar-track {
    background: #2f2f37;
}
  
  .list_types::-webkit-scrollbar-thumb {
    background: #8585ad;
}
.list_ingredients {
    composes: list;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 32px;
}
.tab__bar {
    display: flex;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .name {
    text-align: center;
    min-height: 48px;
  }
  